extends ../layout.pug

block content
  div(class="flex flex-col")
    h1(class="text-3xl mb-8") Hall of fame

    table
      thead 
        tr
          th Domain 
          th Score 
          th Last tested at
      tbody
        each domain in domains 
          tr
            td= domain.domain_name 
            td= domain.final_score 
            td= domain.last_tested_at

