@tailwind base; 
@tailwind components; 
@tailwind utilities;


@layer components {
  .btn {
    @apply px-4 py-2 rounded cursor-pointer transition-all;
  }

  .btn-blue {
    @apply bg-blue-600 text-white hover:bg-blue-400;
  }

  .btn-yellow {
    @apply bg-yellow text-black hover:bg-gray hover:text-white;
  }
}

html, body {
  min-height: 100vh;
}

p > a {
  @apply text-blue-400 hover:text-blue-600 cursor-pointer;
}

.test {
  /* background-color: #ddd; */
}

.test.loading .test__result {
  visibility: hidden;
}

.test .test__description {
  max-height: 0;
  transition: max-height .35s;
  overflow: hidden;
}

.test.open .test__description {
  /* visibility: visible; */
  max-height: none;
  @apply mt-4 mb-4;
}


.test .toggler > .icon {
  transform: rotate(180deg);
  transition: transform .2s;
}

.test.open .toggler > .icon {
  transform: rotate(0deg);
}




