doctype html
html(lang="se")
  head
    title Robust AAA - #{pageTitle}
    link(href="/style.css", rel="stylesheet")
  body
    include header.pug

    div(class="flex justify-center mt-8")
        block content